# Use 32 bit docker OS image for testing: https://github.com/travis-ci/travis-ci/issues/5770
# For Docker image, see: https://hub.docker.com/r/daald/ubuntu32/tags/

os:
  - linux

sudo: required

# safelist
branches:
  only:
    - develop-master

services:
- docker

# Setup up preferred docker iamges
env:
  - CI_DOCKER_IMAGE_DEBIAN=32bit/debian:jessie
  - CI_DOCKER_IMAGE_UBUNTU=daald/ubuntu32:xenial

# Pull containers from Docker Hub.
before_install:
  - docker pull $CI_DOCKER_IMAGE_DEBIAN
  - docker pull $CI_DOCKER_IMAGE_UBUNTU

# Start the container from the image and perform tests.
# Failed builds: Ubuntu 16.04 Xenian - WIP

script:
  - "docker run -i -v \"${PWD}:/ges-code\" $CI_DOCKER_IMAGE_DEBIAN /bin/bash -c \"linux32 --32bit i386 /ges-code/travis/build-ges-debian-docker.sh\""
#  - "docker run -i -v \"${PWD}:/ges-code\" $CI_DOCKER_IMAGE_UBUNTU /bin/bash -c \"linux32 --32bit i386 /ges-code/travis/build-ges-ubuntu-docker.sh\""

#script:
#  - docker run -it $CI_DOCKER_IMAGE_UBUNTU ./travis/build-ges-ubuntu-docker.sh

# Email on failure only
notifications:
  email:
    on_success: never
    on_failure: never
