# Use 32 bit docker OS image for testing: https://github.com/travis-ci/travis-ci/issues/5770
# For Docker image, see: https://hub.docker.com/r/daald/ubuntu32/tags/

# Builds are split, so be careful how this is written
# See: https://docs.travis-ci.com/user/speeding-up-the-build/


os:
  - linux

sudo: required

# safelist
branches:
  only:
    - develop-master

services:
- docker

# Setup up preferred docker iamges
env:
  - CI_DOCKER_IMAGE=32bit/debian:jessie
  - CI_DOCKER_IMAGE=daald/ubuntu32:xenial

# Pull containers from Docker Hub.
before_install:
  - docker pull $CI_DOCKER_IMAGE

# Start the container from the image and perform tests.
# Failed builds: Ubuntu 16.04 Xenian - WIP
# Script sequence is ran for each ENV above, so adjust accordingly

script:
  - if [[ "$CI_DOCKER_IMAGE" == "debian:jessie" ]]; then
      "docker run -i -v \"${PWD}:/ges-code\" $CI_DOCKER_IMAGE /bin/bash -c \"linux32 --32bit i386 /ges-code/travis/build-ges-linux-docker.sh\"";
    elif [[ "$CI_DOCKER_IMAGE" == "ubuntu32:xenial" ]]; then
      echo -e "Build disabled for now";
    fi
# Email on failure only
notifications:
  email:
    on_success: never
    on_failure: never
