# Use 32 bit docker OS image for testing: https://github.com/travis-ci/travis-ci/issues/5770
# For Docker image, see: https://hub.docker.com/r/daald/ubuntu32/tags/

# Builds are split, so be careful how this is written
# See: https://docs.travis-ci.com/user/speeding-up-the-build/

os:
  - linux

sudo: required
language: C++

# safelist
branches:
  only:
    - develop-master

services:
- docker

# Setup up preferred docker iamges
env:
  - CI_DOCKER_IMAGE=32bit/debian:jessie DISTRO=debian
  - CI_DOCKER_IMAGE=daald/ubuntu32:xenial DISTRO=ubuntu

# Pull containers from Docker Hub.
before_install:
  - docker pull $CI_DOCKER_IMAGE

# Start the container from the image and perform tests.
script:
  - "docker run -i -v \"${PWD}:/ges-code\" $CI_DOCKER_IMAGE /bin/bash -c \"linux32 --32bit i386 /ges-code/travis/build-ges-$DISTRO-docker.sh\""

# Email on failure only
notifications:
  email:
    on_success: never
    on_failure: never
