os:
  - linux

sudo: required
dist: trusty

#addons:
#  apt:
#    sources:
#    - ubuntu-toolchain-r-test
#    packages:
#    - gcc-4.8
#    - g++-4.8

# safelist
branches:
  only:
    - develop

# Install dependencies
# Install any prerequisites or dependencies necessary to run our builds

install:

# Linux dependencies
    
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      sudo apt-get install -qq cmake libboost-all-dev libc6-dev libm17n-0 libstdc++-4.8-dev;
    fi

script:
  - cd "$TRAVIS_BUILD_DIR"
  - git submodule update --init
  - rm -rf build && mkdir build
  - cd build && cmake -DCMAKE_INSTALL_PREFIX=/usr ..
  - make --debug=v -j4 -C build 

# Email on failure only

notifications:
  email:
    on_success: never
    on_failure: never
