# Use 32 bit docker OS image for testing: https://github.com/travis-ci/travis-ci/issues/5770
# For Docker image, see: https://hub.docker.com/r/daald/ubuntu32/tags/

os:
  - linux

sudo: required

# safelist
branches:
  only:
    - develop-master

services:
- docker

# Setup up preferred docker iamges
env:
  - CI_DOCKER_IMAGE_UBUNTNU=daald/ubuntu32:xenia

before_install:
  - docker pull $CI_DOCKER_IMAGE

script:
  - docker run -t --rm -v $TRAVIS_BUILD_DIR:$TRAVIS_BUILD_DIR -w $TRAVIS_BUILD_DIR $CI_DOCKER_IMAGE_UBUNTU ./build-ges-ubuntu-docker.sh

# Email on failure only
notifications:
  email:
    on_success: never
    on_failure: never
